* {
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
}

html {
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    min-height: 100%;
    background: #dde5f4;
    color: #000;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 14px;
    line-height: 1.6;
    overflow-x: hidden;
}

.Link {
    position: relative;
    text-decoration: none;
    color: inherit;

    &::after {
        content: "";
        position: absolute;
        left: 50%;
        bottom: -2px;
        width: 0;
        height: 2px;
        background: #000;
        transition: all .3s ease;
    }

    &:hover::after {
        left: 0;
        width: 100%;
    }
}

h2 {
    margin: 0;
    padding: 15px 0 5px;
    font-size: 25px;
    line-height: 1.4;
}

h3 {
    margin: 0;
    padding: 10px 0 0;
    font-size: inherit;
    line-height: inherit;
}

p {
    margin: 0;
    padding: 0 0 15px;
}

@media (min-width: 1000px) {

    body {
        font-size: 20px;
    }

    h2 {
        font-size: 35px;
    }

    p {
        padding: 0 0 25px;
    }
}


[data-line="example"] {
    height: 10px;
    border-radius: 5px;
    background: rgba(0, 0, 0, .5);
}


[data-line="logo"] {
    height: 2px;
    border-radius: 1px;
    background: #000;
    transition: all .1s linear;
    //will-change: width, transform, opacity, visibility;

    @media (min-width: 500px) {
        height: 4px;
        border-radius: 2px;
    }

    @media (min-width: 700px) {
        height: 6px;
        border-radius: 3px;
    }

    @media (min-width: 1000px) {
        height: 8px;
        border-radius: 4px;
    }
}

[data-line-state="hidden"] {
    visibility: hidden;
    width: 0px !important;
}

[data-line-state="solid"] {
    transition-time: 1s;
}

[data-line-state="invisible"] {
    visibility: hidden;
    opacity: 0;
}

.Header {
    margin: 0 auto;
    max-width: 800px;
    padding: 50px 6%;
}

.Logo {
    position: relative;
    display: block;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 0;
    padding: 0 0 percentage(80 / 630);

    span {
        visibility: hidden;
        position: absolute;
        top: 0;
        display: block;
        height: 100%;
        width: percentage(60 / 630);
    }

    .html.h {
        left: 0;
    }

    .html.t {
        left: percentage(70 / 630);
    }

    .html.m {
        left: percentage(140 / 630);
    }

    .html.l {
        left: percentage(215 / 630);
    }

    .lines.l {
        left: percentage(325 / 630);
    }

    .lines.i {
        left: percentage(375 / 630);
    }

    .lines.n {
        left: percentage(425 / 630);
    }

    .lines.e {
        left: percentage(500 / 630);
    }

    .lines.s {
        left: percentage(570 / 630);
    }
}

.Body {
    margin: 0 auto;
    max-width: 800px;
    padding: 50px 6%;
    background: #fff;
}

.Code {
    margin: 0 0 30px !important;
    padding: percentage(12 / 320);
    background: #333;
    font-size: 12px;
    overflow-x: auto;
}

.Github {
    position: relative;
    height: 500px;
    min-height: 300px;
    max-height: 600px;
    height: 50vh;
    margin: 0 0 40px;

    .icon {
        position: absolute;
        z-index: 10;
        left: 50%;
        top: 0;
        width: 80px;
        height: 80px;
        margin: 0 0 0 -40px;
        background: url("../img/github.svg") no-repeat left top / 80px 80px;
        cursor: pointer;
    }

    .drop {
        position: absolute;
        z-index: 5;
        bottom: 0;
        border: 3px solid #000;
        width: 150px;
        height: 40px;
        background: #fff;
        font-size: 30px;
        line-height: 40px;
        text-align: center;
        text-decoration: none;
        color: #000;
        text-transform: uppercase;
        transition: all .3s ease;
    }

    .docs {
        left: 0;
    }

    &[data-link="docs"] .docs {
        background: #000;
        color: #fff;
    }

    .source {
        right: 0;
    }

    &[data-link="source"] .source {
        background: #000;
        color: #fff;
    }

    @media (max-width: 499px) {

        .drop {
            width: 90px;
            height: 30px;
            font-size: 20px;
            line-height: 30px;
        }
    }
}

[data-line="drop-line"] {
    z-index: 3;
    height: 3px;
    transition: width .2s ease-in;

    &::before,
    &::after {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        width: 10px;
        height: 10px;
        background: #000;
        border-radius: 50%;
        -webkit-transform: translate(-5px, -3.5px);
        transform: translate(-5px, -3.5px);
        -webkit-transform-origin: center center;
        transform-origin: center center;
        opacity: 0;
        transition: opacity .3s ease, transform .5s ease;
    }

    &::after {
        left: auto;
        right: 0;
        width: 15px;
        height: 15px;
        -webkit-transform: translate(7.5px, -6px);
        transform: translate(7.5px, -6px);
        transition: opacity .3s ease;
    }

    &[data-line-state="idle"] {
        width: 0 !important;
    }

    &[data-line-state="magnet"] {
        width: 50px !important;

        &::before,
        &::after {
            opacity: 1;
        }
    }

    &[data-line-state="locked"] {
        transition: none;

        &::before,
        &::after {
            -webkit-transform: translate(-5px, -3.5px) scale(.5);
            transform: translate(-5px, -3.5px) scale(.5);
            opacity: 1;
        }
    }
}


.Match {
    overflow: hidden;
    margin: 0 -20px;
    padding: 0 20px;
    font-size: 18px;
    line-height: 20px;
    text-align: center;

    ul {
        width: 30%;
        padding: 0;
        list-style: none;
    }

    li {
        position: relative;
        margin: 0 0 30px;
        padding: 12px;
        border: 3px solid #000;
        background: #fff;
        color: #000;
        cursor: pointer;
        box-shadow: 0 0 4px rgba(#00009f, 0);
        transition: background-color .3s ease, color .3s ease, border-color .3s ease;

        &:hover,
        &[data-status="active"],
        &[data-status="selected"] {
            background: #000;
            color: #fff;
        }

        &[data-status="correct"] {
            border-color: #009f00;
            background: #fff;
            color: #000;
        }

        &[data-status="incorrect"] {
            border-color: #9f0000;
            background: #fff;
            color: #000;
        }

        &[data-status="active"] {
            box-shadow: 0 0 5px 2px rgba(#00009f, .5);
        }
    }

    .mountains {
        float: left;

        li {
            border-radius: 25px;
        }
    }

    .elevations {
        float: right;

        li {
            border-radius: 25px;
        }
    }

    @media (max-width: 699px) {
        font-size: 13px;
        line-height: 15px;
    }
}

[data-line="match-line"] {
    height: 3px;
    background: #000;
    border-radius: 2px;
    transition: width .5s ease;

    &[data-line-state="new"] {
        width: 0 !important;
    }

    &[data-line-state="correct"] {
        background: #009f00;
    }

    &[data-line-state="incorrect"] {
        background: #9f0000;
    }
}
