body {
    margin: 0;
    padding: 0;
    background: #dde5f4;
    color: #000;
    font-size: 14px;
}

[data-line="logo"] {
    height: 5px;
    background: #000;
    transition: all .1s linear;
    will-change: width, transform, opacity, visibility;

    &::before,
    &::after {
        width: 5px;
        height: 5px;
    }

    &::before {
        left: 0;
        transform: translate(-2.5px, 0);
    }

    &::after {
        right: 0;
        transform: translate(2.5px, 0);
    }
}

[data-line-state="hidden"] {
    visibility: hidden;
    width: 0px !important;
}

[data-line-state="solid"] {
    transition-time: 1s;
}

[data-line-state="invisible"] {
    visibility: hidden;
    opacity: 0;
}

.Logo {
    position: relative;
    display: block;
    margin: 50px auto;
    padding: 0;
    width: 630px;
    height: 80px;

    span {
        visibility: hidden;
        position: absolute;
        top: 0;
        display: block;
        height: inherit;
        width: 60px;
    }

    .html.h {
        left: 0;
    }

    .html.t {
        left: 70px;
    }

    .html.m {
        left: 140px;
    }

    .html.l {
        left: 215px;
    }

    .lines.l {
        left: 325px;
    }

    .lines.i {
        left: 375px;
    }

    .lines.n {
        left: 425px;
    }

    .lines.e {
        left: 500px;
    }

    .lines.s {
        left: 570px;
    }
}
